{% include "./partials/head.liquid" %}

<body>
    {% include "./partials/header.liquid" %}
    <main>
        <h1>Schiphol flights of today</h1>

        {% assign prevPage = page | minus: 1 %}
        {% assign nextPage = page | plus: 1 %}
        <a href="/{{ prevPage }}">Previous page</a>
        <a href="/{{ nextPage }}">Next page</a>

        <ul>
            {% for flight in flights %}
                <li>
                    <img src="{{ flight.airline.logo_url }}" alt="">
                    <a href="/flights/{{ flight.flightName }}" class="{{ flight.prefixICAO }}">
                    {{ flight.flightName }} - {{ flight.aircraftType.iataMain }} - {{ flight.prefixICAO }} {{ flight.prefixIATA }} - Flight direction: {{ flight.flightDirection }}  - Status: {{ flight.publicFlightState.flightStates }} Dest: {{ flight.route.destinations }}
                    </a>
                </li>
            {% endfor %}
        </ul>

        <a href="/{{ prevPage }}">Previous page</a>
        <a href="/{{ nextPage }}">Next page</a>
    </main>
    {% include "./partials/footer.liquid" %}
</body>

