{% include "./partials/head.liquid" %}

<body>
    {% include "./partials/header.liquid" %}
    <main>
        <h1>Schiphol flights of today</h1>

        {% assign prevPage = page | minus: 1 %}
        {% assign nextPage = page | plus: 1 %}
        <a href="/{{ prevPage }}">Previous page</a>
        <a href="/{{ nextPage }}">Next page</a>

        <ul>
            {% for flight in flights %}
                <li>
                    <a href="/flights/{{ flight.flightName }}" class='{{ flight.prefixICAO }}'>
                    <img src="{{ flight.airlineData[0].logo_url }}" alt="{{ flight.airlineData[0].name }}">
                    Flight {{ flight.flightName }}
                    </a>
                </li>
            {% endfor %}
        </ul>

        <a href="/{{ prevPage }}">Previous page</a>
        <a href="/{{ nextPage }}">Next page</a>
    </main>
    {% include "./partials/footer.liquid" %}
</body>

